
body {
 background:#fff
}

a {
 color:#1a0dab;
 text-decoration:none;
 padding: 15px;
 color: black;
}

a:hover,

a:active {
 text-decoration:underline
}

html,
body {
 min-width:400px;
 height:100%;
 margin:0;
 padding:0
}

input[type="submit"], .gbqfba {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.A8SBwf {
  position:relative;
  margin:0 auto;
  padding-top:6px;
  width:484px;
  width:auto;
  max-width:484px;
}
.A8SBwf { 
  width:auto;
  max-width:584px
}
.RNNXgb {
  background:#fff;
  display:flex;
  border:1px solid #dfe1e5;
  box-shadow:none;
  border-radius:24px;
  z-index:3;
  height:44px;
  margin:0 auto;
  width:482px;
  width:auto;
}
.emcav .RNNXgb {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-color:rgba(223,225,229,0);
  box-shadow:0 1px 6px rgba(32,33,36,.28)
}
.emcav.emcat .RNNXgb {
  border-bottom-left-radius:24px;
  border-bottom-right-radius:24px
}
.RNNXgb:hover,.sbfc .RNNXgb {
  background-color:#fff;
  box-shadow:0 1px 6px rgba(32,33,36,.28);
  border-color:rgba(223,225,229,0)
}
.UUbT9 {
  width:auto
}
.RNNXgb {
  width:auto;max-width:584px
}
.SDkEP {
  flex:1;display:flex;
  padding:5px 8px 0 16px;
  padding-left:14px;
}
.FPdoLc {
  padding-top:18px;
  top:53px;z-index:0;
}

.hsuHs {
  width: 20px;
  padding-top: 7px;
  height: 20px;
  color: #dfele5;
  margin:auto;
  padding-right: 13px;
}
.wFncld {
  margin-top:3px;
  color:#9aa0a6;
  height:20px;
  width:20px
}

.gLFyf {
  background-color:transparent;
  border:none;
  margin:0;
  padding:0;
  color:rgba(0,0,0,.87);
  word-wrap:break-word;
  outline:none;
  display:flex;
  flex:100%;
  tap-highlight-color:transparent;
  margin-top:-37px;
  height:34px;
  font-size:16px
}
.a4bIc {
  display:flex;
  flex:1;
  flex-wrap:wrap
}

.om7nvf {
  padding:20px
}

.pR49Ae {
  color:transparent;
  flex:100%;
  white-space:pre;
  height:34px
}
.pR49Ae span {
  background:url("/images/experiments/wavy-underline.png") repeat-x scroll 0 100% transparent;
  padding:0 0 10px 0;
}

 .LS8OJ {
   display:flex;
   flex-direction:column;
   align-items:center
 }
 
 .k1zIA {
   height:100%;
   margin-top:auto
 }      

.rSk4se {
  max-height:92px
}

.lnXdpd {
  max-height:100%;
  max-width:100%;
  object-fit:contain;
  object-position:center bottom;
  width:auto
}


.L3eUgb { 
  display:flex;
  flex-direction:column;
  height:100%;
}

.Ne6nSd {
  display:flex;
  align-items:center;
  padding:6px
}

a.MV3Tnb {
  display:inline-block;
  padding:5px;
  margin:0 5px;
  color:#222
}

a.MV3Tnb:first-of-type {
  margin-right:15px
}

.gb_g {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  font-family: arial,sans-serif;
}

.o3j99 {
  flex-shrink:0;
  box-sizing:border-box;
  float: right;
  padding-left: 32px;
}

.n1xJcf {
  height:60px
}

.hright {
  font: 13px/27px Arial,sans-serif;
  float: right;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 10px 5px;
  flex: 0 0 auto;
  justify-content: flex-end;
}


.hleft {
  position: relative;
  padding: 0 20px 0 15px;
  display: inline-block;
  z-index: 987;
  vertical-align: middle;
}

.img_span {
  display: block;
  background-image: url('index3.png');
  background-size: 528px 68px;
  background-position: 0 -35px;
  height: 33px;
  width: 92px;
}

.img_l {
}

.LX3sZb {
    display: inline-block;
    flex-grow: 1;
}
.LLD4me {
  min-height:150px;
  max-height:290px;
  height:calc(100% - 560px)
}

.yr19Zb { 
  min-height:92px
}

.ikrT4e {
  max-height:160px 
}

.qarstb {
  flex-grow:1
}

.Tg7LZd {
  height:44px;
  width:44px;
  background:transparent;
  border:none;
  cursor:pointer;
  flex:0 0 auto;
  padding:0
}

.minidiv .Tg7LZd {
  height:32px;
  line-height:32px
}

.minidiv .Tg7LZd .FAuhyb {
  height:20px;width:20px
}

.minidiv .Tg7LZd svg {
  height:20px;width:20px
}

.Tg7LZd {
  flex:0 0 auto;
  padding-right:13px
}

html:not(.zAoYTe) .Tg7LZd:focus {
  outline:none
}

.FAuhyb {
  background:none;
  color:#4285f4;
  height:24px;
  width:24px;
  margin:auto
}

.db_jd {
  color: red;
  left: 0;
  min-width: 1002px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  background: #f1f1f1; 
}

.gb_Jf {
  position: relative;
  height: 60px;
  width: 100%;
}

.right_sd {
  margin: 10px 5px 0 0 ;
}


.second_fl {
  top: 60px;
  position: relative;
}

.third_fl {
  position: relative;
  top: 60px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.gy3Eif {
    border-bottom: 1px solid #ebebeb;
    position: relative;
    top: 60px;
}

.Mza7yc {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.otByu {
    width: 100%;
    clear: both;
}

.lOTAE {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.container {
  margin-top: 30px;
  margin-left: 42px;
}

.row_r{
  display: flex;
  flex-wrap: wrap;
  height:42px;
  min-width: 167px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0px;
  vertical-align: baseline;
}

.first_col {
  float: left;
  min-width: 167px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}

.second_col {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 50%;
  min-height: 41px;
  padding-right: 16px;
}

span.BFlQMb {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.second_col > input {
  width: 100%;
  text-align: left;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;

}


.converable {
  float: left;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
  
}

@media (max-width: 1150px){
  .converable {
    display: none;
  }
}

