
body {
  background:#fff
}

a {
  text-decoration:none;
  padding: 15px;
  color: black;
}

a:hover, a:active {
  text-decoration:underline
}

html, body {
  min-width:400px;
  height:100%;
  margin:0;
  padding:0
}

input[type="submit"]:not(.send_button), .gbqfba {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

body, input, button {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

.RNNXgb {
  background:#fff;
  border:1px solid #dfe1e5;
  box-shadow:none;
  border-radius:24px;
  z-index:3;
  height:44px;
  margin:0 auto;
  width:100%;
  width:auto;
}

.SDkEP {
  display:flex;
  flex:1;
  padding:5px 8px 0 16px;
  padding-left:14px;
}

.hsuHs {
  width: 20px;
  padding-top: 7px;
  height: 20px;
  color: #dfele5;
  margin:auto;
  padding-right: 13px;
}

.wFncld {
  margin-top:3px;
  color:#9aa0a6;
  height:20px;
  width:20px
}

.gLFyf {
  background-color:transparent;
  border:none;
  margin:0;
  padding:0;
  color:rgba(0,0,0,.87);
  word-wrap:break-word;
  outline:none;
  display:flex;
  flex:100%;
  tap-highlight-color:transparent;
  margin-top:-37px;
  height:34px;
  font-size:16px
}

.a4bIc {
  display:flex;
  flex:1;
  flex-wrap:wrap
}

.pR49Ae {
  color:transparent;
  flex:100%;
  white-space:pre;
  height:34px
}

.o3j99 {
  flex-shrink:0;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  float: right;
}

.first_o3j99 {
  display:inline-block;
  height:60px;
  align-items:right;
  padding:6px
}

.third_o3j99 {
  display: flex;
  max-height:160px;
  padding: 20px;
  max-width:584px;
  margin:0 auto;
  width:70%;
}

.FPdoLc {
  display: flex;
  align-items:center;
  padding-top:18px;
  justify-content: center;
  top:53px;
  z-index:0;
  flex: 0 0 auto;
}

.lnXdpd {
  max-height:100%;
  max-width:100%;
  object-fit:contain;
  object-position:center bottom;
  width:auto
}

.L3eUgb { 
  display:flex;
  flex-direction:column;
  height:100%;
}

.hright {
  font: 13px/27px Arial,sans-serif;
  float: right;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 10px 5px;
  flex: 0 0 auto;
  justify-content: flex-end;
  margin: 10px 5px 0 0 ;
}

.hleft {
  position: relative;
  padding: 0 20px 0 15px;
  display: inline-block;
  z-index: 987;
  vertical-align: middle;
}

.img_span {
  display: block;
  background-image: url('index3.png');
  background-size: 528px 68px;
  background-position: 0 -35px;
  height: 33px;
  width: 92px;
}

.Tg7LZd {
  height:44px;
  width:44px;
  background:transparent;
  border:none;
  cursor:pointer;
  flex:0 0 auto;
  padding:0
}

.Tg7LZd {
  flex:0 0 auto;
  padding-right:13px
}

.FAuhyb {
  background:none;
  color:#4285f4;
  height:24px;
  width:24px;
  margin:auto
}

.db_jd {
  color: red;
  left: 0;
  min-width: 600px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  background: #f1f1f1; 
}

.second_fl {
  top: 60px;
  position: relative;
}

.third_fl {
  position: relative;
  top: 60px;
}

.appbar {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

.gy3Eif {
  border-bottom: 1px solid #ebebeb;
  position: relative;
  top: 60px;
}


.lOTAE {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.container {
  margin-top: 30px;
  margin-left: 42px;
}

.row_r{
  display: flex;
  flex-wrap: wrap;
  height:42px;
  min-width: 167px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0px;
  vertical-align: baseline;
}

.first_col {
  float: left;
  min-width: 167px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}

.second_col {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 50%;
  min-height: 41px;
  padding-right: 16px;
}

span.BFlQMb {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.second_col > input[type='text'] {
  width: 100%;
  text-align: left;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  min-width: 42px;
  height: 25px;
  padding: 1px 0px 0px 8px;

}

.converable {
  float: left;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}

@media (max-width: 1150px){
  .converable {
    display: none;
  }
}

.button_div {
  float: right;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}

.send_button {
  user-select:none;
  line-height:100%;
  height:30px;
  min-width:133px;
  float: right;
  margin: 10px 0;
  padding: 0 12px;
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  outline: 0;
}

.send_button:hover {
  background-color: #357ae8;
  border: 1px solid #2f5bb7;
  border-image: initial;
}

.jYcx0e {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
